html {
	height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-size: 14px;
}

a.white-link:link, a.white-link:hover, a.white-link:visited, a.white-link:active {
	color: white;
}

a:hover img {
	text-decoration: none;
}

td a:link, td a:hover, td a:visited, td a:active {
	color: orange;
}

#header {
	height: 50px;
  line-height: 50px;
	background-color: black;
	color: white;
	margin-bottom: 5px;
}

#bg { 
	min-height: 100vh;

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#content, #footer {
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 25px;
	padding: 20px;
	
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

#header .col-xs-6 {
	padding: 0px;
}

#logo {
	font-size: 24px;
}

.row {
	margin: 0px;
}

.isk-img {
	height: 40px;
	width: 40px;
}

.login-dropdown {
	background-color: black;
	margin-top: 0px;
}

.negative-isk {
	color: red;
	font-weight: bold;
}

.positive-isk {
  color: green;
  font-weight: bold;
}

a.page-link:link, a.page-link:visited, a.page-link:active {
	background-color: black;
	color: orange;
	border-color: grey;
}

a.page-link:hover {
	background-color: grey;
}

.page-item.active .page-link {
	background-color: grey;
	border-color: grey;
	color: orange;
}

.table-hover tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

