html {
	height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  font-size: 14px;
}

a:link, a:hover, a:visited, a:active {
  color: orange;
}

a.white-link:link, a.white-link:hover, a.white-link:visited, a.white-link:active {
	color: white;
}

a:hover img {
	text-decoration: none;
}

td {
	height: 100%;
}

td a {
  display: block;
  height: 100%;
}

td a div{
	height: 100%;
}

#bg { 
	min-height: 100vh;
	min-width: 100%;
  background-color: black;

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#content, #footer {
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 25px;
	padding: 20px;
}

#logo {
	font-size: 24px;
}

.row {
	margin: 0px;
}

.transaction-row-click {
	cursor: pointer;
}

.isk-img {
	height: 40px;
	width: 40px;
}

.login-dropdown {
	background-color: rgba(20, 20, 20, 1);
	margin-top: 0px;
	line-height: normal;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	color: white;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: grey;
}

.logout-dropdown {
  background-color: rgba(20, 20, 20, 1);
  line-height: normal;
  color: white;
}

.negative-isk {
	color: red;
	font-weight: bold;
}

.positive-isk {
  color: green;
  font-weight: bold;
}

a.page-link:link, a.page-link:visited, a.page-link:active {
	background-color: black;
	color: orange;
	border-color: grey;
}

a.page-link:hover {
	background-color: grey;
}

.page-item.active .page-link {
	background-color: grey;
	border-color: grey;
	color: orange;
}

.navbar {
	z-index: 100;
	background-color: black;
}

.nav-link {
  font-size: 18px;
}

.table-hover tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.sso-btn {
	padding: 0px;
	border: 0px;
}

.table {
	margin-bottom: 0px;
}

.modal-title {
	width: 100%;
}

.close {
	color: white;
}

.close:hover {
	color: grey;
}

.modal-dialog {
	margin-top: 75px;
}

.modal-content {
	background-color: black;
}

.character-table td, .character-table th {
	padding: 6px;
}

.col-no-padding {
	padding: 0px;
}

.searchbar {
  background-color: rgba(120, 120, 120, 1);
  color: white;
  line-height: normal;
  border: none;
  font-size: 16px;
}

.searchbar input {
	background-color: rgba(120, 120, 120, 1);
	border: none;
  padding: 4px;
	color: lightgrey;
}

.searchbar input::placeholder {
	color: darkgrey;
}

.searchbar button {
	padding: 4px;
	background-color: rgba(104, 104, 104, 1);
	border: none;
	color: black;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid grey;
  border-bottom: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  width: 350px;
  top: 100%;
  left: 0px;
}


@media only screen and (min-width : 768px) {
	.autocomplete-items {
    left: -34px;
	}
}

.autocomplete-items div {
	text-align: left;
  padding: 8px;
  cursor: pointer;
  background-color: black; 
  border-bottom: 1px solid grey;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(104, 104, 104, 1);
}
.autocomplete-items div i {
	color: grey;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: white; 
}

.portrait {
	margin-right:3px;
}

.nav-tabs .nav-link.active {
	color: orange;
	background-color: rgba(120, 120, 120, 0.7);
	border-color: rgba(160, 160, 160, 1) rgba(160, 160, 160, 1) white;
}

.fa-2x {
	font-size: 24px;
}