{% include 'pagination.html' %}
<div class="double-scroll table-responsive">
	<table class="table table-hover">
	  <thead>
		  <tr>
		    {% if entity_data is defined %}
		    <th>Balance</th>
		    {% endif %}
		    <th>Amount</th>
		    <th>Date</th>
		    <th>Type</th>
		    <th>Description</th>
        {% if entity_data is defined and entity_data.type == 'corporation' %}
	      <th>Wallet Division</th>
        {% endif %}
		    <th>First Party</th>
		    <th>Second Party</th>
	      {% if entity_data is defined %}
		    <th>Context</th>
		    <th>Tax</th>
		    <th>Tax Receiver</th>
	      {% endif %}
		  </tr>
		</thead>
		<tbody>
		  {% for entry in journal_entries %}
		  <tr class="transaction-row-click" data-toggle="modal" data-target="#transaction_{{ entry.id }}">
	      {% if entity_data is defined %}
	        {% if entity_data.id == entry.first_party_id %}
	          {% if entry.first_party_balance is defined %}
            <td class='positive-isk'>{{ '{0:0,.2f}'.format(entry.first_party_balance) }}</td>
            {% else %}
            <td>N/A</td>
	          {% endif%}
	        {% elif entity_data.id == entry.second_party_id %}
            {% if entry.second_party_balance is defined %}
            <td class='positive-isk'>{{ '{0:0,.2f}'.format(entry.second_party_balance) }}</td>
            {% else %}
            <td>N/A</td>
            {% endif%}
          {% elif entry.tax_receiver_id is defined and entity_data.id == entry.tax_receiver_id %}
            {% if entry.tax_receiver_balance is defined %}
            <td class='positive-isk'>{{ '{0:0,.2f}'.format(entry.tax_receiver_balance) }}</td>
            {% else %}
            <td>N/A</td>
            {% endif%}
	        {% else %}
          <td>N/A</td>
	        {% endif %}
	      {% endif %}
         {% if (entry.tax is defined) and (entry.tax > 0) %}
         <td class='positive-isk'>
           {{ '{0:0,.2f}'.format(entry.tax) }}
         </td>
         {% else %}
          {% if entity_data is not defined %}
            {% if entry.second_party_amount < 0 %}
            <td class='negative-isk'>{{ '{0:0,.2f}'.format(entry.second_party_amount) }}</td>
            {% elif entry.second_party_amount == 0.0 %}
            <td><b>0.0</b></td>
            {% else %}
            <td class='positive-isk'>{{ '{0:0,.2f}'.format(entry.second_party_amount) }}</td>
            {% endif %}
          {% elif entity_data.id == entry.first_party_id %}
            {% if entry.first_party_amount < 0 %}
            <td class='negative-isk'>{{ '{0:0,.2f}'.format(entry.first_party_amount) }}</td>
            {% elif entry.first_party_amount == 0.0 %}
            <td><b>0.0</b></td>
            {% else %}
            <td class='positive-isk'>{{ '{0:0,.2f}'.format(entry.first_party_amount) }}</td>
            {% endif %}
          {% elif entity_data.id == entry.second_party_id %}
            {% if entry.second_party_amount < 0 %}
            <td class='negative-isk'>{{ '{0:0,.2f}'.format(entry.second_party_amount) }}</td>
            {% elif entry.second_party_amount == 0.0 %}
            <td><b>0.0</b></td>
            {% else %}
            <td class='positive-isk'>{{ '{0:0,.2f}'.format(entry.second_party_amount) }}</td>
            {% endif%}
          {% endif %}
		    {% endif %}
		    <td>{{ entry.date }}</td>
		    <td>{{ entry.ref_type.replace('_', ' ') }}</td>
		    <td>{{ entry.description }}</td>
        {% if entity_data is defined and entity_data.type == 'corporation' %}
          {% if (entity_data.id == entry.first_party_id) and (entry.first_party_wallet_division is defined) %}
          <td>{{ entry.first_party_wallet_division }}</td>
          {% elif (entity_data.id == entry.second_party_id) and (entry.second_party_wallet_division is defined) %}
          <td>{{ entry.second_party_wallet_division }}</td>
          {% elif (entry.tax_receiver_id is defined) and (entity_data.id == entry.tax_receiver_id) and (entry.tax_receiver_wallet_division is defined) %}
          <td>{{ entry.tax_receiver_wallet_division }}</td>
          {% else %}
          <td>N/A</td>
          {% endif %}
        {% endif %}
		    {% if entry.first_party_name is defined %}
		    <td>
		      <a href='{{ entry.first_party_url }}' class="orange-link">{{ entry.first_party_name }}</a>
		    </td>
		    {% else %}
		    <td>{{ entry.first_party_id }}</td>
		    {% endif %}
		    {% if entry.second_party_name is defined %}
		    <td>
		      <a href='{{ entry.second_party_url }}' class="orange-link">{{ entry.second_party_name }}</a>
		    </td>
		    {% else %}
		    <td>{{ entry.second_party_id }}</td>
		    {% endif %}
	      {% if entity_data is defined %}
			    <td>{{ entry.context_id }}</td>
			    {% if entry.tax is defined %}
			      {% if entry.tax < 0 %}
				    <td class='negative-isk'>
				      {{ '{0:0,.2f}'.format(entry.tax) }}
				    </td>
				    {% else %}
				    <td class='positive-isk'>
				      {{ '{0:0,.2f}'.format(entry.tax) }}
				    </td>
				    {% endif %}
			    {% else %}
			    <td></td>
			    {% endif %}
			    {% if entry.tax_receiver_name != None %}
			    <td>
			      <a href='{{ entry.tax_receiver_url }}' class="orange-link">{{ entry.tax_receiver_name }}</a>
			    </td>
			    {% else %}
			    <td>{{ entry.tax_receiver_id }}</td>
			    {% endif %}
	      {% endif %}
		  </tr>
		  {% endfor %}
		</tbody>
	</table>
</div>
<br />
{% include 'pagination.html' %}
{% for entry in journal_entries %}
<div class="modal fade" tabindex="-1" role="dialog" id="transaction_{{ entry.id }}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-center">Transaction Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="double-scroll table-responsive">
				  <table class="table table-hover table-bordered">
				    <thead>
				      <tr>
				        <th scope="col">Key</th>
				        <th scope="col">Value</th>
				      </tr>
				    </thead>
				    <tbody>
				      {% for key, value in entry.items() %}
				      {% if key == 'first_party_name' %}
              <tr>
				        <th scope="row">{{ key }}</th>
				        <td>
                  <a href='{{ entry.first_party_url }}' class="orange-link">{{ value }}</a>
				        </td>
              </tr>
			        {% elif key == 'second_party_name' %}
              <tr>
                <th scope="row">{{ key }}</th>
                <td>
                  <a href='{{ entry.second_party_url }}' class="orange-link">{{ value }}</a>
                </td>
              </tr>
              {% elif key == 'tax_receiver_name' %}
              <tr>
                <th scope="row">{{ key }}</th>
                <td>
                  <a href='{{ tax_receiver_url }}' class="orange-link">{{ value }}</a>
                </td>
              </tr>
				      {% elif ((key != '_id') and (key != 'first_party_url') and 
				        (key != 'second_party_url') and (key != 'tax_receiver_url')) %}
				      <tr>
				        <th scope="row">{{ key }}</th>
                <td>{{ value }}</td>
				      </tr>
				      {% endif %}
				      {% endfor %}
				    </tbody>
				  </table>
				</div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{% endfor %}