{% if character_data is defined %}
{% set entity_id = character_data.CharacterID %}
{% elif corp_data is defined %}
{% set entity_id = corp_data.corporation_id %}
{% else %}
{% set entity_id = None %}
{% endif %}
<ul class="pagination col justify-content-end">
  {% if page_number == 1 %}
  <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
  <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, entity_id=entity_id, page_number=page_number+1) }}">{{ page_number + 1 }}</a></li>
  <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, entity_id=entity_id, page_number=page_number+2) }}">{{ page_number + 2 }}</a></li>
  <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, entity_id=entity_id, page_number=page_number+1) }}">&raquo;</a></li>
  {% elif page_number == 10 %}
  <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, entity_id=entity_id, page_number=page_number-1) }}">&laquo;</a></li>
  <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, entity_id=entity_id, page_number=page_number-2) }}">{{ page_number - 2 }}</a></li>
  <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, entity_id=entity_id, page_number=page_number-1) }}">{{ page_number - 1 }}</a></li>
  <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
  {% else %}
  <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, entity_id=entity_id, page_number=page_number-1) }}">&laquo;</a></li>
  <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, entity_id=entity_id, page_number=page_number-1) }}">{{ page_number - 1 }}</a></li>
  <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
  <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, entity_id=entity_id, page_number=page_number+1) }}">{{ page_number + 1 }}</a></li>
  <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, entity_id=entity_id, page_number=page_number+1) }}">&raquo;</a></li>
  {% endif %}
</ul>