{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <title>{{ entity_data.name }} - HowPoor.RU</title>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col col-auto">
      <img src="https://image.eveonline.com/Render/{{ entity_data.type_id }}_128.png" height="128" width="128" />
    </div>
    <div class="col col-auto">
      <table class="table table-responsive character-table">
        <tr>
          <th scope="row">Name:</th>
          <td>
            <a href="{{ url_for('station', entity_id=entity_data.id) }}" class="orange-link">
              {{ entity_data.name }}
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">System:</th>
          <td>
            <a href="{{ url_for('system', entity_id=entity_data.system_id) }}" class="orange-link">
              {{ entity_data.system_name }}
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  {% include 'journal_entries.html' %}
{% endblock %}